* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --col1: #0f0706;
  --col2: #1f0e0c;
  --col3: #2e1512;
  --col4: #111111;
  --col5: #333333;
  --col6: #555555;
  --col7: #777777;
  --col8: #999999;
  --col10: #7e7e7e;
  --primary-font: "Poppins", sans-serif;
  --primary-text: #fd4766;
  --text-gray: #c6c9d8bf;
  --text-white: #fff;
}

body {
  background-color: var(--col4);
  color: antiquewhite;
  margin-top:2%;
  padding-bottom: 0;
  margin-bottom: 0;
}
::-webkit-scrollbar{
  display: none;
}
#editPost:hover, #deletePost:hover {
  font-weight: 700;
}

#addPic:hover{
  cursor: pointer;
}

.menu-bar {
  background: black;
  text-align: center;
  width: 100%;
  position: fixed;
}

.menu-bar ul {
  display: inline-flex;
  list-style: none;
}

.menu-bar ul li {
  margin: 5px;
  margin-bottom: -8px;
  padding: 0.6vw;
}

.sub-menu {
  display: none;
  font-size: calc(0.125em + 0.5vw);
  text-decoration: none;
}

.menu-bar ul li:hover .sub-menu {
  display: block;
  position: absolute;
  background-color: black;
  margin-top: 40px;
  margin-left: -80px;
  font-size: calc(0.125em + 0.5vw);
}

.menu-bar ul li:hover .sub-menu ul {
  display: block;
  margin: 10px;
  font-size: calc(0.125em + 0.5vw);
  text-decoration: none;
}

.menu-bar ul li:hover .sub-menu ul li a {
  font-size: calc(0.125em + 0.5vw);
  text-decoration: none;
  color: antiquewhite;
}

.menu-bar ul li:hover .sub-menu ul li a:hover {
  font-size: calc(0.125em + 0.5vw);
  text-decoration: none;
  color: antiquewhite;
  font-weight: bold;
  color: var(--col8);
  cursor: pointer;
  text-decoration: underline;
}



.textsizeCorrect {
  font-size: calc(0.55em + 0.5vw);
}

.smallerText {
  font-size: calc(0.325em + 0.5vw);
}

.smallestText {
  font-size: calc(0.225em + 0.45vw);
}

.biggerText {
  font-size: calc(0.75em + 0.5vw);
}

.leftcol,
.rightcol {
  height: 100vh;
  width: 50%;
}

.leftcol {
  background-color: var(--col1);
  float: left;
  display: flex;
  text-align: center;
  align-items: center;
}

.rightcol {
  background-color: var(--col3);
  float: right;
  display: flex;
  align-items: center;
  text-align: center;
}


#navBar {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}

.navBar {
  background-color: black;
  color: antiquewhite;
  text-align: center;
}

.ulnav {
  display: inline-flex;
  list-style: none;
}

.linav {

  width: 120px;
  margin: 15px;
  padding: 15px;
}

#containMake {
  width: 50vw;
  margin: auto;
  font-size: 3vh;
}

#searchBar {
  width: 25vw;
  height: 4vh;
  border: none;
  border-radius: 4vh;
  padding: 1vh;
  font-size: 2vh;
  background-image: url("../images/searchicon.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-color: var(--col3);
  color: antiquewhite;
  outline: none;
  font-size: calc(0.125em + 0.5vw);
}


#profilepic {
  width: 4vh;
  float: right;
}

#imagePost {
  width:40.5vw;
}
#imagePost img{
  margin: 0 auto;
}

#bodyContainer {
  min-height: 55vh;
  width: 70vw;
  margin: auto;
  margin-bottom: 0;
  padding-top: 75px;
}

#profileImagesContainer {
  background-color: var(--col3);
  text-align: center;
  color: antiquewhite;
  border-radius: 25px;
}

.outer-wrapper{
  display: inline-block;
  margin: 0; 
  padding: 0;
}
.frame{  
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  text-align: center;
  display: table-cell;
} 

.frame img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto;
}

.imgPrevDiv {
  width: 35vw;
  min-height: 200px;
  margin: 0 auto;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  color: antiquewhite;
}

.imgPrevDiv img {
  display: none;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  border-radius:50%;
}

.imgPrevPost {
  display: none;
  width: 48vw;
  min-height: 200px;
  margin-top: 2px;
  margin-bottom: 20px;
  border: none;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: antiquewhite;
  border-radius: 5px;
}
.imgPrevPost img {
  display: none;
  border-radius: 5px;
}

.imgPrevImg {
  display: none;
  width: 100%;
}

.showNone {
  display: none;
}

#profilepicmain {
  width: 10vw;
  margin-top: -11%;
  border-radius: 50%;
}

#profButtons {
  width: 10vw;
  display: inline-block;
  margin: 0.5%;
  margin-bottom: 2%;
}

#divcontainer1 {
  display: none;
  height: 500px;
  flex: 1;
  border-radius: 25px;
  padding-bottom: 0%;
}

#divcontainer2 {
  flex: 3;
  padding-top: 15px;
  border-radius: 25px;
}

#friendLister {
  width: 100%;
  float: left;
  margin: 3%;
}

#friendscontainer {
  background-color: var(--col3);
  height: 87vh;
  margin-top: 10%;
  padding: 5%;
  padding-bottom: 0%;
  border-radius: 25px;
}

#friendimgcontainer {
  width: 25%;
  float: left;
  margin: 2%;
  border-radius: 45%;
  margin-right: 8%;
}

#friendLister {
  clear: both;
  font-weight: bold;
}

#containposter {
  border: solid thin;
  padding: 2%;
  background-color: var(--col3);
  border-color: var(--col3);
  border-radius: 8px;
  margin-bottom:15px;
}
.commentposter {
  border: solid thin;
  background-color: var(--col3);
  border-color: var(--col3);
  border-radius: 25px;
}

.commentposter textarea {
  width: 100%;
  border-radius: 10px;
  padding: 1%;
  font-family: var(--primary-font);
  background-color: var(--col3);
  color: antiquewhite;
  resize: none;
  border: solid thin;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

textarea {
  width: 100%;
  border: none;
  font-family: var(--primary-font);
  background-color: var(--col3);
  color: antiquewhite;
  resize: none;
  outline: none;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}

textarea::-webkit-scrollbar {
  color: #333333;
}

#submitButton2 {
  float: right;
  background-color: brown;
  border-radius: 10px;
  color: antiquewhite;
  font-size: larger;
  width: 4vw;
}
#submitButton {
  float: right;
  font-size: larger;
}

.icon{
  color: var(--col8);
}
.icon:hover{
  color:antiquewhite;
}

.react_icon{
  color: antiquewhite;
}
.react_icon:hover{
  color:brown;
}

#profileButton {
  float: right;
  background-color: var(--col8);
  border-radius: 50%;
  color: black;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

#statusBar {
  /*margin-top: 5%;*/
  background-color: var(--col3);
  padding: 2%;
  padding-top: 2%;
  padding-right: 2%;
  overflow-y: scroll;
  margin-bottom: 0;
  height: 72vh;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 100%;
}

.commentBox{
  margin: 5%;
  margin-left: 0;
  margin-right: 0;
  border-bottom: solid thin;
  overflow-y: scroll;
}
#textPart{
  margin-top: 5%;
  margin-bottom: 0;
  margin-left: 2%;
  white-space: pre-wrap;
  overflow-wrap: break-word;
}
#textPart2{
  margin-bottom: 0;
  margin-left: 2%;
  white-space: pre-wrap;
  /*overflow-wrap: break-word;*/
  overflow-y: scroll;
}
#statusBar::-webkit-scrollbar {
  /*margin-top: 5%;*/
  display: none;
}
#status {
  padding: 0.5%;
  display: flex;
  margin-bottom: 5vh;
  margin-right: 5%;
}

#NameHeader {
  font-weight: bold;
  color: aqua;
  font-size: 2vh;
  margin-top: 1%;
  margin-bottom: 1%;
}

#condivcontainer1 {
  display: none;
  min-height: 50vh;
  flex: 1;
  padding-top: 5%;
}
.contact {
  color: antiquewhite;
}

.postImageContainer {
  height: 100vh;
  background-color:var(--col2);
  flex: 2.5;
  margin-top: 2%;
  justify-content: center;
}
  



#leftholder {
  background-color: var(--col3);
  min-height: 94vh;
  margin-top: 10%;
  padding: 5%;
}

#condivcontainer2 {
  min-height: 400px;
  flex: 4;
  padding: 2.6%;
  padding-right: 0px;
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 25px;
}

#ContactbodyContainer {
  min-height: 55vh;
  width: 50vw;
  margin: auto;
  display: flex;
  align-items: center;
}

#reactSec {
  margin-top: 1vh;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  display: flex;
  border-bottom-style: solid;
  padding: 0.5vh;
}

.start {
  width: 18vw;
  text-align: start;
  border: solid thin antiquewhite;
  background-color: var(--col3);
  padding: 1%;
}

#flex {
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#rowAdd {
  width: 100%;
  float: left;
  margin: 3%;
}

.content {
  display: flex;
  align-items: center;
}

#homeProfileImage {
  width: 2.5vw;
  border-radius: 50%;
  float: left;
  margin: 2%;
}

#rowAdd {
  clear: both;
  font-weight: bold;
}

/*
#submitbutton:hover {
  border-radius: 40vh;
  padding: 0.5vh 2vh;
  background-color: white;
  color: var(--col1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}*/

.main-btn {
  border-radius: 40vh;
  padding: 0.5vh 2vh;
  background-color: var(--col1);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

.btn-with-hover:hover {
  box-shadow: 1px 0.5px 5px antiquewhite;
  cursor: pointer;
  font-size: calc(0.25em + 0.5vw);
}

.texthover2{
  color: brown;
  font-size: 2vw;
}
.texthover2:hover{
  color:  antiquewhite;
}

.texthover:hover {
  font-weight: bold;
  
  color: brown;
  cursor: pointer;
  text-decoration: none;
}

.addhover:hover {
  border-radius: 40vh;
  padding: 0.5vh 2vh;
  background-color: white;
  color: var(--col1);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
}

#containposter:hover {
  border: solid #9a463d;
  ;
  cursor: pointer;
  border-radius: 10px;
}



#reactorLister {
  width: 100%;
  margin: 0%;
  margin-bottom: 15px;
}

#reactorimgcontainer {
  width: 6%;
  border-radius: 45%;
  margin-right: 10px;
}

#reactorLister {
  clear: both;
  font-weight: bold;
}

.reactor {
  padding-top: 125%
}

.make-white{
  color: var(--col8);
}
.make-white:hover{
  color:antiquewhite;
}

.hover-underline {
  display: inline-block;
  position: relative;
}

.hover-underline:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: antiquewhite;;
  transform-origin: bottom center;
  transition: transform 0.25s ease-out;

}

.hover-underline:hover:after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.react-data{
  color: var(--col8);
  margin-top: 2vh;padding-left: 4%;
}
.react-data:hover{
  color: antiquewhite;
  text-decoration: underline;
}
.profileName{
  font-size: calc(0.75em + 0.5vw);
}

@media (max-width: 980px){
  #bodyContainer {
    min-height: 55vh;
    width: 90vw;
    margin: auto;
    margin-bottom: 0;
    padding-top: 75px;
  }
  #condivcontainer2 {
    min-height: 400px;
    flex: 1;
    padding: 0%;
    padding-right: 0px;
    margin-bottom: 0;
    padding-bottom: 0;
    border-radius: 25px;
  }
  .texthover2{
    color: brown;
    font-size: 2vw;
  }
  #profButtons {
    width: 15vw;
    display: inline-block;
    margin: 0.5%;
    margin-bottom: 2%;
  }
  .ProfileName{
    font-size: calc(0.39em + 0.5vw);
  }
  .smallestText{
    display: none;
  }

  #ContactbodyContainer {
    min-height: 55vh;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
  }
  .start {
    width: 35vw;
    text-align: start;
    border: solid thin antiquewhite;
    background-color: var(--col3);
    padding: 1%;
  }
}